NET "A"	 LOC = "B2";
NET "AA"  LOC = "A3";
NET "B"	 LOC = "C6";
NET "BB"  LOC = "B6";
NET "C"	 LOC = "A9";
NET "CC"  LOC = "B9";
NET "H1"  LOC = "D12" ;
NET "H2"  LOC = "A13";
NET "H3"  LOC = "C13" ;
