NET "A1"	 LOC = "B2";
NET "AA1" LOC = "A3";
NET "B1"	 LOC = "C6";
NET "BB1" LOC = "B6";
NET "C1"	 LOC = "A9";
NET "CC1" LOC = "B9";
NET "CLK" LOC = "B8" ;
NET "D0" LOC = "P11";
NET "D1" LOC = "L3" ;
NET "D2" LOC = "K3";
NET "D3" LOC = "B4" ;
NET "H1" LOC = "C12" ;
NET "H2" LOC = "A13";
NET "H3" LOC = "C13" ;
NET "LOW" LOC = "C5" ;
